.navbar{

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 50px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.08);

    position:sticky;

    top:0;

    z-index:100;

}

.logo{

    font-size:40px;

    color:#3b82f6;

    font-weight:700;

}

.logo span{

    color:white;

    margin-left:8px;

}

.nav-right{

    display:flex;

    align-items:center;

    gap:30px;

    color:white;

}

.logout-btn{

    border:none;

    background:#2563eb;

    color:white;

    padding:10px 22px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;

}

.logout-btn:hover{

    background:#1d4ed8;

    transform:translateY(-3px);

    box-shadow:0 10px 25px rgba(37,99,235,.35);

}