.create-post{

    background:#232937;

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:25px;

    margin-bottom:25px;

    width:100%;

}

.create-post h3{

    color:white;

    margin-bottom:18px;

}

.create-post textarea{

    width:100%;

    min-height:130px;

    resize:none;

    border:none;

    outline:none;

    border-radius:15px;

    padding:18px;

    background:rgba(255,255,255,.08);

    color:white;

    font-size:15px;

}

.create-post textarea::placeholder{

    color:#cbd5e1;

}

.create-post button{

    margin-top:18px;

    padding:12px 28px;

    border:none;

    border-radius:12px;

    background:#2563eb;

    color:white;

    cursor:pointer;

    transition:.3s;

}

.create-post button:hover{

    background:#1d4ed8;

}

.create-post textarea{
    transition: 0.3s;
}

.create-post textarea:focus{
    border: 2px solid #3b82f6;
    outline: none;
}